<script>

    function enterFindMovie(field) {
        if (event.keyCode === 13) {
            const term = field.value
            postFindMovie(term)
        }
    }

    function findMovie() {
        const term = document.getElementById('query-input').value
        postFindMovie(term)
    }

    function postFindMovie(term) {
        if (!term) {
            return;
        }
        const data = { term: term };
        const button = document.getElementById('query-button');
        button.disabled = true;
        fetch("https://h9q299yg9k.execute-api.eu-north-1.amazonaws.com/prod/", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'x-api-key': 'q8eHwB7nxjaRRetfmv9am2MVJpz806D861meoo89'
            },
            body: JSON.stringify(data)
        }).then(res => {
            res.json().then(str => {
                console.log("Request complete! response:", str);
                const jsonData = JSON.parse(str);
                const parent = document.getElementById('searchResult');
                parent.style.display = "block";
                makeUL(jsonData.movies, document.getElementById('searchResultList'));
                button.disabled = false;
            })
        }).catch(err => {
            const parent = document.getElementById('searchResult');
            parent.style.display = "block";
            parent.textContent = "internal error";
            console.log(err);
        });
    }

    function postFindPath() {
        const m1 = document.getElementById('movieId1').value
        const m2 = document.getElementById('movieId2').value
        if (!m1 || !m2) {
            return;
        }

        const data = {startId: m1, targetId: m2}
        console.log(JSON.stringify(data))
        const button = document.getElementById('path-button')
        button.disabled = true
        fetch("https://v5tamk0gf5.execute-api.eu-north-1.amazonaws.com/prod/", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'x-api-key': 'q8eHwB7nxjaRRetfmv9am2MVJpz806D861meoo89'
            },
            body: JSON.stringify(data)
        }).then(res => {
            res.json().then(str => {
                console.log("Request complete! response:", str);
                const jsonData = JSON.parse(str);
                const parent = document.getElementById('pathResult');
                parent.style.display = "block";

                // TODO DISPLAY RESPONSE IN SOME REASONABLE WAY!
                parent.textContent = str
                // ^^^^^^^^^^^^^^^^^^^^^

                button.disabled = false
            })
        });
    }

    function postRatings() {
        console.log("Upload ratings clicked")
    }

    function makeUL(array, parent) {

        //const list = document.createElement('li');
        //list.setAttribute("class", "list-group list-group-flush bg-light");
        //parent.prepend(list)

        for (var i = array.length - 1; i >= 0; i--) {
            // Create the list item:
            var item = document.createElement('li');
            item.setAttribute("class", "list-group-item py-2 bg-light");
            item.style.fontSize = "small";

            // Set its contents:
            item.appendChild(document.createTextNode(array[i]));

            // Add it to the list:
            parent.prepend(item);
        }

        // Finally, return the constructed list:
        return parent;
    }

</script>