<script>

    function postFindMovie() {
        const term = document.getElementById('query-input').value
        const data = { term: term }
        const button = document.getElementById('query-button')
        button.disabled = true
        fetch("https://h9q299yg9k.execute-api.eu-north-1.amazonaws.com/prod/", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'x-api-key': 'q8eHwB7nxjaRRetfmv9am2MVJpz806D861meoo89'
            },
            body: JSON.stringify(data)
        }).then(res => {
            res.json().then(str => {
                console.log("Request complete! response:", str)
                const jsonData = JSON.parse(str)
                const area = document.getElementById('searchResult')
                area.textContent = ""
                for (var i = 0; i < jsonData.movies.length; i++) {
                    var movie = jsonData.movies[i];
                    area.textContent += movie + "\r\n";
                }
                button.disabled = false
            })
        }).catch(err => {
            document.getElementById('searchResult').textContent = "internal error"
            console.log(err)
        });
        
    }

    function postFindPath() {
        const m1 = document.getElementById('movieId1').value
        const m2 = document.getElementById('movieId2').value
        const data = {m1: m1, m2: m2}
        console.log(JSON.stringify(data))
        const button = document.getElementById('path-button')
        button.disabled = true
        fetch("https://httpbin.org/post", {
            method: "POST",
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        }).then(res => {
            res.json().then(str => {
                document.getElementById('pathResult').textContent = str.data
                console.log("Request complete! response:", str)
                button.disabled = false
            })
        });
    }

    function postRatings() {
        console.log("Upload ratings clicked")
    }
</script>