<script src="{{ base.url | prepend: site.url }}/_includes/lz-string.min.js"></script>
<script>

    let selectedId = 0;
    let selectedBg = "";

    function enterFindMovie(field) {
        if (event.keyCode === 13) {
            const term = field.value
            postFindMovie(term)
        }
    }

    function findMovie() {
        const term = document.getElementById('query-input').value
        postFindMovie(term)
    }

    function postFindMovie(term) {
        if (!term) {
            return;
        }
        const data = { term: term };
        const button = document.getElementById('query-button');
        button.disabled = true;
        fetch("https://h9q299yg9k.execute-api.eu-north-1.amazonaws.com/prod/", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'x-api-key': 'q8eHwB7nxjaRRetfmv9am2MVJpz806D861meoo89'
            },
            body: JSON.stringify(data)
        }).then(res => {
            res.json().then(str => {
                console.log("Request complete! response:", str);
                const jsonData = JSON.parse(str);
                const parent = document.getElementById('searchResult');
                parent.style.display = "block";
                makeUL(jsonData.movies, document.getElementById('searchResultList'));
                button.disabled = false;
            })
        }).catch(err => {
            const parent = document.getElementById('searchResult');
            parent.style.display = "block";
            parent.textContent = "internal error";
            console.log(err);
        });
    }

    function postFindPath() {
        const m1 = document.getElementById('movieId1').value
        const m2 = document.getElementById('movieId2').value
        if (!m1 || !m2) {
            return;
        }

        const data = {startId: m1, targetId: m2}
        console.log(JSON.stringify(data))
        const button = document.getElementById('path-button')
        button.disabled = true
        fetch("https://v5tamk0gf5.execute-api.eu-north-1.amazonaws.com/prod/", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'x-api-key': 'q8eHwB7nxjaRRetfmv9am2MVJpz806D861meoo89'
            },
            body: JSON.stringify(data)
        }).then(res => {
            res.json().then(str => {
                console.log("Request complete! response:", str);
                const jsonData = JSON.parse(str);
                const parent = document.getElementById('pathResult');
                parent.style.display = "block";

                // TODO DISPLAY RESPONSE IN SOME REASONABLE WAY!
                const element = document.createElement("pre");
                element.fontSize = "small";
                parent.prepend(element);
                element.innerHTML = JSON.stringify(jsonData, null, 2);
                // ^^^^^^^^^^^^^^^^^^^^^

                button.disabled = false
            })
        });
    }

    function willHeLoveIt() {
        if (selectedId > 0) {
            const data = { movieId: selectedId }
            console.log(JSON.stringify(data))
            const button = document.getElementById('whli-button')
            button.disabled = true
            fetch("https://03zi1oasd3.execute-api.eu-north-1.amazonaws.com/prod/", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'x-api-key': 'q8eHwB7nxjaRRetfmv9am2MVJpz806D861meoo89'
                },
                body: JSON.stringify(data)
            }).then(res => {
                res.json().then(str => {
                    console.log("Request complete! response:", str);
                    const jsonData = JSON.parse(str);
                    const item = document.getElementById('whliResult');
                    item.style.display = "block";

                    // Clean up if we've already added color
                    if (selectedBg.startsWith("bg")) {
                        item.classList.remove(selectedBg);
                    }

                    const pred = parseFloat(jsonData.predictedRating);
                    if (pred < 2.8) {
                        item.classList.add("bg-danger");
                        item.textContent = "No. Just no. (" + pred + ")";
                        selectedBg = "bg-danger";
                    } else if (pred < 3.2) {
                        item.classList.add("bg-warning");
                        item.textContent = "Nah (" + pred + ")";
                        selectedBg = "bg-warning";
                    } else if (pred < 3.85) {
                        item.classList.add("bg-info");
                        item.textContent = "Let's try (" + pred + ")";
                        selectedBg = "bg-info";
                    } else {
                        item.classList.add("bg-success");
                        item.textContent = "Straight fire! (" + pred + ")";
                        selectedBg = "bg-success";
                    } 

                    button.disabled = false;
                })
            });
        }
    }

    function postRatings() {

        const file = document.getElementById('file-select').value

        const button = document.getElementById('query-button');
        button.disabled = true;

        console.log("Upload ratings clicked")
    }

    function makeUL(array, parent) {

        //const list = document.createElement('li');
        //list.setAttribute("class", "list-group list-group-flush bg-light");
        //parent.prepend(list)

        for (var i = array.length - 1; i >= 0; i--) {
            // Create the list item:
            var item = document.createElement('button');
            item.setAttribute("class", "list-group-item list-group-item-action py-2 bg-light");
            item.setAttribute("type", "button");
            item.style.fontSize = "small";
            if (i == array.length - 1 && array[i].includes("[...] truncated")) {
                item.disabled = true;
            } else {
                const whliId = array[i].split("ID=")[1];
                item.value = whliId;
                item.onclick = function () { setWhliId(whliId) };
            }
            // Set its contents:
            item.appendChild(document.createTextNode(array[i]));

            // Add it to the list:
            parent.prepend(item);
        }

        // Finally, return the constructed list:
        return parent;
    }

    function setWhliId(whliId) {
        selectedId = whliId;
        const button = document.getElementById('whli-button');
        button.style.display = "block";
    }

</script>